* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  width: 50vw;
  margin: 10vh auto 0;
}

p {
  line-height: 1.5;
}

p.centered {
  text-align: center;
}

p.centered img {
  display: inline-block;
  margin: auto;
}

h1 {
  font-size: 2rem;
  border-bottom: 2px solid #7ab317;
}

h2 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #7ab317;
}

a:hover {
  text-decoration: underline;
}

.title {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  font-weight: 400;
  line-height: 1.25;
}

.title small {
  display: block;
  font-size: 0.6em;
  font-weight: 400;
  color: #999;
}

.example-list {
  list-style: disc;
  margin: 2rem 0 2rem 1.25rem;
  padding: 0;
}

.example-list .title {
  margin-bottom: 0;
}

.example-list p {
  font-size: 0.9rem;
  color: #999;
}

.example-list a + p {
  margin-top: 0;
}

#monitor {
  padding: 1rem;
  border-radius: 10px;
  background: #f5f5f5;
}

#monitor .label {
  display: inline-block;
  min-width: 6rem;
}

#monitor .title {
  margin: 0 0 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #ccc;
}

#monitor p {
  margin: 0;
}

#monitor strong {
  color: #7ab317;
}
